# Scaleway Object Storage bucket in Paris. Keep this bucket private.
RESTIC_REPOSITORY=s3:https://s3.fr-par.scw.cloud/faircourt-backup-par-2026
RESTIC_PASSWORD_FILE=/etc/faircourt/restic-password
AWS_ACCESS_KEY_ID=REPLACE_WITH_SCW_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=REPLACE_WITH_SCW_SECRET_KEY
